# Local configuration file (sdk path, etc)
local.properties

# AndroidStudio build directory
ComputeGettingStartedAndroid/ComputeGettingStartedonAndroid/build/**

# AndroidStudio idea and workspace files (build.gradle files should be fine).
ComputeGettingStartedAndroid/.idea/**
ComputeGettingStartedAndroid/.gradle/**

# AndroidStudio IML files
*.iml
