# Local configuration file (sdk path, etc)
local.properties

# AndroidStudio build directory
ComputeGettingStartedAndroid/build/**

# AndroidStudio idea and workspace files (build.gradle files should be fine).
ComputeGettingStartedAndroid/.idea/**
ComputeGettingStartedAndroid/.gradle/**
